.header{
    grid-area: header;
}
.menu{
    grid-area: menu;
}
.main{
    grid-area: main;
}
.empty{
    grid-area: empty;
}
.footer{
    grid-area: footer;
}

.principal {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'menu menu main main main .'
            'footer footer footer footer footer .';
            border: 3px solid rgb(1, 1, 1);
   gap: 3px;
}
.principal div{
    border: 3px;
    background-color: rgb(255, 255, 255);

}

.logobit{
    width: 25%;

    
}
.singin {
    width: 3%;
    float: right;
    margin-top: 12px;

}
.img {
    cursor: pointer;
}
.header *{
    display: inline-block;
}
.header img :hover{
    cursor: pointer;
}
    


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #040404;
  }
li a {
    display: block;
    color: rgb(245, 239, 239);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    height: 50px;
  }
li a:hover {
    background-color: #555;
    color: white;
  } 
   
.grilla{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 700px;
    height: 270px;
    border: 3px;
    

}
.grilla div {
    border: 3px;
    color: #040404;
    background-color: whitesmoke;
    
}
.item:hover{
    cursor: pointer;
    background-color: rgb(199, 199, 205);
}
.item1 {
    grid-column: 1/4;
}
.item10 {
    grid-column:4 ;
    grid-row: 3/6;
}
.item14{
    grid-column: 1/3;
}
.footer{
    background-color: red;
}
.imgfooter {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 94%;
    height: 270px;
    gap: 10px;
    background-color: crimson;
    text-align: center;

    }
.imgfooter div{

    background-color: rgb(234, 238, 242); 
    border: 3px solid rgb(2, 2, 2);
    
    


}
.primera img{
    width: 30%;
    
    margin-top: 7%;
    border-radius: 100%;

}
.segunda img{
    width: 30%;
    margin-top: 7%;
    border-radius: 100%;
}
.tercera img{
    width: 35%;
    margin-top: 7%;
    border-radius: 100%;
}
.cuarta img{
    width: 30%;
    margin-top: 7%;
    border-radius: 100%;
}
.quinta img{
    width: 30%;
    margin-top: 4%;
    border-radius: 100%;
}
.sexta img{
    width: 30%;
    margin-top: 4%;
    border-radius: 100%;
}
.profile img :hover{
    cursor: pointer;
    width: 8%;
}
